<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         Version="2.4">

  <servlet>
    <servlet-name>Car</servlet-name>
    <servlet-class>parser.Parse</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Car</servlet-name>
    <url-pattern>/CarCharts</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Processing</servlet-name>
    <servlet-class>parser.FakeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Processing</servlet-name>
    <url-pattern>/Processing</url-pattern>
  </servlet-mapping>


</web-app>